#%  if EMAIL is defined:
#SBATCH --mail-type=FAIL,ARRAY_TASKS
#SBATCH --mail-user=%{JOB.email|d(EMAIL)|join(',')}
#%  endif
#%  for var in JOB.batch|d({}):
#%    set val = JOB.batch[var]
#%    if val|lower == 'true':
#SBATCH --%{var}
#%    elif ' ' in val:
#SBATCH --%{var}='%{val}'
#%    else:
#SBATCH --%{var}=%{val}
#%    endif
#%  endfor
